body {
    text-align: center;
}
.container {
    display: inline-block;
    width: 50%
}
.container > input {
    width: 100%;
}

.suggestions > ul {
    list-style-type: none;
    text-align: left;
}

.suggestions {
    border: 1 solid #bfbfbf;
    border-style: ridge;
}

h1 {
    color: #1d3b33;
}